html {
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #a29bfe;
  backdrop-filter: blur(10px); /* Add blur effect */

}

#map{
  /* fill: green; */
  fill: #55efc4
}

#canvas {
  background-image: url("istockphoto-1255442357-612x612.jpg");
  background-size: cover;
}

#score{
 
  font-size: 5rem;

 
  color: white;
}

.fixy{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

#overlay {
  position: fixed; 
  display: none; /* Hidden by default */
  width: 100%/* Full width (cover the whole page) */; 
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}